<%- include('./common/header.ejs') %>
    <div id="body-wrapper">
        <main>
            <div class="post-content">
                <div class="">
                    <div class="banner-flex-wrap" style="display: flex; flex-direction: column; ">
                        <div class="banner scroll-button-container banner-fixed-attachment banner-full-height has-heading"
                            data-transition-duration="0.5" data-rapid-transition-duration="0.1" data-transition-wait="5"
                            data-transition-type="fade">
                            <div class="banner-slideshow">
                                <div data-bgd-image="https://www.supersoco.co.uk/wp-content/uploads/2021/03/finance_insurance_banner.jpg"
                                    class="banner-slideshow-item banner-slideshow-item-center show" id="bg-image"
                                    style="background-image: url('/wp-content/uploads/2021/03/finance_insurance_banner-1500x1000.jpg');">
                                    <div class="banner-overlay banner-overlay-none"></div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-content banner-content-left">
                                <div>
                                    <div class="banner-heading">
                                        <h1 id="mainHeading"><span style="color:rgb(57, 189, 57);">PRODUCT</span></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-scroll-down">
                                <div>
                                    <div class="scroll-down-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="rich-text">
                        <div>
                            <div style="text-align: center;">
                                <h3 style="text-decoration: underline 7px; text-decoration-color: rgb(57, 189, 57);">
                                    <strong id="product-name-1">loading...</strong></h3>
                                <!-- <p style="font-weight: 300; font-style: bold;"><strong>Urja Global Limited is in one of India’s leading Renewable Energy developers.</strong></p> -->
                                <!-- <p>Website &#8211; <a
                                href="https://www.santanderconsumer.co.uk/">https://www.santanderconsumer.co.uk/</a>
                        </p> -->
                                <!-- <p><img src="../wp-content/uploads/2021/03/scuk-logo-300x125.png" alt="Santander"> -->
                                <!-- </p>
                        <p style="text-align: justify;">
                            Urja Global Limited is in one of India’s leading Renewable Energy developers and operators. Urja is engaged in design, consultancy, integration, supply, installation, commissioning & maintenance of off-grid and grid connected Solar Power Plants. We are approved Channel Partners of Ministry of New and Renewable Energy (MNRE), Govt. of India.
                        </p> -->
                                <!-- <h2 id="tablepress-1-name" class="tablepress-table-name tablepress-table-name-id-1">
                            Representative Purchase Plan Finance Example</h2> -->
                            </div>
                        </div>
                    </section>
                    <script>
                        const categoryId = '<%= categoryId %>';
                        const productId = '<%= productId %>';
                        // console.log(categoryId);
                        let categoryName = ''
                        let productDetails = undefined;

                        window.onload = async () => {
                            await fetch(`http://13.58.168.111:5544/api/${categoryId}/product`)
                                .then(res => res.json())
                                .then(res => {
                                    // console.log(res)
                                    if (res.data.length > 0) {
                                        categoryName = res.data[0].categoryName;
                                        res.data.forEach(elem => {
                                            if (productId == elem.id) {
                                                productDetails = elem
                                                console.log(elem);
                                                document.getElementById('bg-image').style.backgroundImage = `url('${elem.image}')`
                                                document.getElementById('product-image').src = elem.image;
                                                document.getElementById('product-image-1').src = elem.image;

                                                document.getElementById('product-name').innerHTML = elem.name;
                                                document.getElementById('product-name-1').innerHTML = elem.name;


                                                document.getElementById('product-price').innerHTML = `₹ ${elem.price}/-`
                                                document.getElementById('product-price-1').innerHTML = `₹ ${elem.price}/-`

                                                console.log(typeof(elem.description))
                                                if(elem.description == undefined || elem.description == '' ||elem.description == ' '){
                                                    elem.description = 'Product Description'
                                                }
                                                document.getElementById('product-description').innerHTML = `${elem.description}`
                                                document.getElementById('product-description-1').innerHTML = `${elem.description}`

                                            }
                                        })
                                    }
                                })
                                .catch(err => {
                                    console.log("ERROR: " + err)
                                })
                        }
                    </script>


                    <section class="soco-bike-post-single-summary">
                        <div>
                            <div class="price">
                                <h3>Price</h3>
                                <div class="price-main"><span class="price-price" id="product-price">₹ loading...</span>
                                    <!-- <span class="price-option">(Alloy Wheel)</span>, <span class="price-price">£4,499</span>
                        <span class="price-option">(Spoked Wheel)</span> -->
                                    *
                                </div>
                            </div>
                            <!-- <div class="info">
                    <div class="info-motor">
                        <div>
                            <h3>Motor</h3>
                            <div>60mph / 95kph Max Speed, 5.0kW Max Power</div>
                        </div>
                    </div>
                    <div class="info-battery">
                        <div>
                            <h3>Battery</h3>
                            <div>60 Miles / 95km** Estimated Range, 60v 45Ah (2.7kWh) Battery Capacity</div>
                        </div>
                    </div>
                    <div class="info-license">
                        <div>
                            <h3>License</h3>
                            <div>A1 - CBT from 17 years old (125cc equivalent)</div>
                        </div>
                    </div>
                </div> -->
                            <div class="smallprint">*Prices are inclusive of Tax, exclusive of
                                registration<br>
                                <!-- **Based on 75kg rider in controlled conditions -->
                            </div>
                        </div>
                    </section>
                    <section class="soco-bike-post-single-main">
                        <div>
                            <div class="text">
                                <h2 id="product-name">Loading...</h2>
                                <div class="content" id="product-description">loading the description...
                                </div>
                                <table class="info">
                                    <tr>
                                        <th>Colours</th>
                                        <td></td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Pre OZEV Grant Price</th>
                                        <td><span class="price-price">£4,899</span> <span class="price-option">(Alloy
                                                Wheel)</span>, <span class="price-price">£4,999</span> <span
                                                class="price-option">(Spoked Wheel)</span></td>
                                    </tr> -->
                                    <tr>
                                        <th>Price</th>
                                        <td><span class="price-price" id="product-price-1">loading...</span>*</td>
                                    </tr>
                                    <!-- <tr>
                                        <th>Estimated Range</th>
                                        <td>60 Miles / 95km**</td>
                                    </tr>
                                    <tr>
                                        <th>Warranty</th>
                                        <td>2 Years Vehicle, 3 Years Battery &amp; Motor</td>
                                    </tr>
                                    <tr>
                                        <th>License</th>
                                        <td>A1 - CBT from 17 years old (125cc equivalent)</td>
                                    </tr> -->
                                </table>
                            </div>
                            <div class="image"><img alt="Product Image"
                                    id="product-image-1"
                                    src=""
                                    width="750" height="611"></div>
                        </div>
                    </section>
                    
                   
                    <section class="soco-bike-single-post-collapsible">
                        <div>
                            <div class="main">
                                <div class="image"><img alt="Product Image"
                                        id="product-image"
                                        src=""
                                        srcset=""
                                        width="1700" height="1134"></div>
                                <div class="text">
                                    <h2>Order Now!</h2>
                                    <div class="summary">
                                        <p id="product-description-1"></p>
                                    </div>
                                    <div id="order-form">
                                        <form style="width: 70%;">
                                            <div class="form-input">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form" id="name">
                                            </div>
                                            <div class="form-input">
                                                <label for="name" class="form-label">Contact Number</label>
                                                <input type="text" class="" id="number">
                                            </div>
                                            <div class="form-input">
                                                <label for="name" class="form-label">Email Id</label>
                                                <input type="email" class="" id="email">
                                            </div>
                                            <div class="form-input">
                                                <label for="name" class="form-label">Delivery Address</label>
                                                <input type="text" class="" id="address">
                                            </div>
                                            <div class="form-input">
                                                <label for="name" class="form-label">Pin Code</label>
                                                <input type="text" class="" id="pincode">
                                            </div>
                                            <input type="submit" id="order-btn" value="order">
                                            
                                        </form>
                                    </div>
                                    <button id="rzp-button1" class="order-btn">Pay</button> 
                                    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                    <!-- <div class="">
                                        <div class="button arrow-button" id="order-now">Order Now</div>
                                    </div>

                                    <div class="read-more-wrap">
                                        <div class="button arrow-button read-more-button" data-toggle=""
                                            data-open-text="Read Less">Read Details</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <script>
            let form = document.getElementById('order-form')
            let paymentBtn = document.getElementById('rzp-button1')
            paymentBtn.style.display = 'none'
            document.getElementById('order-btn').addEventListener('click', async(e) => {
                e.preventDefault()
                const name = document.getElementById('name').value;
                const contactNumber = document.getElementById('number').value;
                const address = document.getElementById('address').value;
                const email = document.getElementById('email').value;
                const pincode = document.getElementById('pincode').value;

                const res = await fetch('/create-order/<%= categoryId %>/<%= productId %>', {
                    method: "POST",
                    body: JSON.stringify({
                        name,
                        contactNumber,
                        address,
                        email,
                        pincode,
                        productDetails
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(res => res.json())
                
                if(res.code == 200){
                    console.log(res)
                    alert("Order Created! Now Pay to Confirm the Order!")
                    
                    const amount = res.order.amount * 100;
                    console.log("Amount: " + amount);
                    console.log("Order ID: " + res.order.order_id);
                    console.log("currency: " + 'INR');
                    var options = {
                        "key": 'rzp_test_olMLT24C033aCn', 
                        "amount": amount,
                        "currency": 'INR',
                        "name": "Urja Global",
                        "description": "Payment for Product",
                        "image": "",
                        "order_id": res.order.order_id,
                        "callback_url": `/order-details/${res.order.orderId}`,
                        "prefill": {
                            "name": res.order.name,
                            "email": res.order.email,
                            "contact": res.order.contactNumber,
                        }
                    }
                    const rzp1 = new Razorpay(options);
                    paymentBtn.style.display = 'block'
                    document.getElementById('order-btn').style.display = 'none'
                    form.style.display = 'none'

                    document.getElementById('rzp-button1').onclick = function (e) {
                        console.log("button pressed")
                        rzp1.open();
                        e.preventDefault();
                    }
                }
            })

           
        </script>
    </div>
    <style>
        input {

            font-size: 16px;
            line-height: 28px;
            padding: 8px 16px;
            width: 100%;
            min-height: 44px;
            border: unset;
            border-radius: 4px;
            outline-color: rgb(84 105 212 / 0.5);
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
        }

        .form-label{
            font-size: 20px;
            font-weight: 400;
            padding-bottom: 2px;
            display: flex;
            align-items: center;
            margin: 0;
        }

.form-input {
    /* margin: 5px; */
    padding-bottom: 10px;
}

input[type="submit"] {
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.order-btn{
    background-color: rgb(84, 105, 212);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin: 5px;
}
.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px; 
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}
    </style>
    <%- include('./common/footer.ejs') %>